version: "3.8"

networks:
  net:

services:
  jenkins:
    container_name: jenkins
    build: .
    image: wardove/jenkins
    ports: 
      - 8080:8080
      - 50000:50000
    volumes:
      - $PWD/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - net
    restart: always


 
